<!-- this page is base file that includes the header and footer sections -->
<!DOCTYPE html>
<html lang="en">
    <header>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>
            {% block title %} {% endblock title %}
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='mystyle.css')}}">
        <script src="{{url_for('static',filename='myjs.js')}}"></script>
    </header>
    <body>
        <header>
           <div class="header">
             <div class="header-items">
                <h3>Kazy Store </h3>
             </div>
             <div class="header-items header-items-right">
                <form action="/" method="GET">
                    <input type="text" name="search" placeholder="Search for a product" value="{{ search_query }}"/>
                    <button  type="submit" class="search">search</button>
                 </form>
             </div>
           </div> 
          
        </header>
        <main>
            <div class="main">
                {% block content %} {% endblock content %}
            </div>
        </main>
        <footer>
            <div class="footer">
               <p>
                All &copy; rights are well reserved in this site ,since 2024.
               </p> 
            </div>
        </footer>
     
    </body>
</html>